<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.app.mapper.MemberMapper">

<select id="selectMembers" resultType="com.example.app.domain.Member">
SELECT * FROM members
</select>

<select id="selectById" parameterType="int" resultType="com.example.app.domain.Member">
SELECT number,name FROM members WHERE id=#{id}
</select>

<insert id="addMember" parameterType="com.example.app.domain.Member">
INSERT INTO members (number,name)
VALUES (#{number},#{name})
</insert>

<delete id="deleteMember" parameterType="int">
DELETE FROM members WHERE id=#{id}
</delete>

</mapper>