<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.app.mapper.MomMapper">

<select id="selectByMom" parameterType="com.example.app.domain.Mom">
  SELECT mom,count(mom) AS COUNT
  FROM games
  GROUP BY mom
  HAVING COUNT(mom) > 0
  ORDER BY COUNT DESC
</select>
</mapper>